---
import "../assets/base.css";
import NavBar from "../menu/NavBar.astro";

const items = [
  {
    title: "Home",
    url: "/",
  },
  {
    title: "Call for Papers",
    url: "/call-for-papers",
  },
  {
    title: "Local Information",
    url: "/local-information",
  },
  {
    title: "Program",
    url: "/program",
  },
  {
    title: "Registration",
    url: "/registration",
  },
  {
    title: "Archive",
    submenu: [
      {
        title: "2023",
        url: "/archive/2023",
      },
      {
        title: "2020",
        url: "/archive/2020",
      },
      {
        title: "2019",
        url: "/archive/2019",
      },
      {
        title: "2018",
        url: "/archive/2018",
      },
      {
        title: "2017",
        url: "/archive/2017",
      },
      {
        title: "2016",
        url: "/archive/2016",
      },
      {
        title: "2015",
        url: "/archive/2015",
      },
      {
        title: "2014",
        url: "/archive/2014",
      },
      {
        title: "2013",
        url: "/archive/2013",
      },
      {
        title: "2012",
        url: "/archive/2012",
      },
      {
        title: "2011",
        url: "/archive/2011",
      },
      {
        title: "2010",
        url: "/archive/2010",
      },
      {
        title: "2009",
        url: "/archive/2009",
      },
      {
        title: "2008",
        url: "/archive/2008",
      },
      {
        title: "2007",
        url: "/archive/2007",
      },
      {
        title: "2006",
        url: "/archive/2006",
      },
      {
        title: "2005",
        url: "/archive/2005",
      },
      {
        title: "2004",
        url: "/archive/2004",
      },
      {
        title: "2003",
        url: "/archive/2003",
      },
      {
        title: "2002",
        url: "/archive/2002",
      },
      {
        title: "2001",
        url: "/archive/2001",
      },
    ],
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Arvo:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} /><title>
      Daniel Zappala
    </title></head
  >

  <body class="mx-0">
    <header>
      <NavBar prefix="" items={items} />
    </header>

    <slot class="font-gothic" />

    <footer>
      <div
        class="text-default text-sm flex justify-center px-5 py-3 lg:px-[75px] md:ml-auto md:mr-auto max-w-5xl"
      >
        <div>
          <p>
            Papers and presentations are copyright by their authors. You may
            print or copy them for personal, non-commercial use. For all other
            uses, please contact the authors.
          </p>

          <p>
            All other web site materials released via <a
              rel="license"
              href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"
              ><img
                alt="Creative Commons License"
                style="border-width:0"
                src="/images/cc-by-sa.png"
              /></a
            >
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
